body {
    padding-top: 20px;
}

#music_list {
    padding: 30px 0px 42px 0px;
}

.panel {
    margin-bottom: 0;
}

.panel-footer {
    padding: 20px 15px;
}

.play_controlls {
    margin-top: 7px;
}

.song_item {
    cursor: pointer;
}

#volume {
    width: 100%;
}