<!DOCTYPE html>
<html>
<head>
    <title>Radio RPi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.9.2.custom.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script data-main="/static/js/bootstrap" src="/static/js/require.js"></script>
</head>
<body>
    <div id="music_page">
    </div>
</body>
</html>